.monBackground {
  background-image: url("/images/monrone2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 20% 20%;
  height: 300px; */
  background-position: center;
  height: 100vh;
}
h1 {
  font-family: "Monofett", monospace;
  font-size: clamp(55px, 10vw, 200px) !important;
}
